* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-color-text: #1c1c1c;
  --light-color-text: #f5f5f5;
  --dark-background-color: #272935;
  font-size: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  color: var(--light-color-text);
  background-color: var(--dark-background-color);
}

/* start of header element */
.header-container {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-color-text);
  background-color: var(--dark-background-color);
  box-shadow: 1px 1px 10px 5px var(--dark-color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.625em 3.125em;
  position: fixed;
  z-index: 1;
  cursor: pointer;
}

.logo-container {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo-container a {
  text-decoration: none;
  color: inherit;
}

.logo-container img {
  width: 2.75em;
  border-radius: 50%;
  background-color: rgb(214, 201, 201);
}

.links-container {
  display: flex;
}

.links-container>li {
  list-style-type: none;
}

.links-container>li>a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 1.375em 1.875em;
  transition: all 0.5s;
}

.code {
  color: var(--dark-background-color);
}

.links-container>li>a:hover {
  transform: scale(1.2);
}

.links-container>li>a:hover .code {
  color: orangered;
}

.menu-icon-wrapper {
  display: none;
}

.links-container-column {
  display: none;
}

/* start responsive design for header element */
@media (width <=1200px) {
  .header-container {
    font-size: 1.5rem;
  }

  .links-container>li>a {
    padding: 1.375em 1.6em;
  }

  .logo-container {
    font-size: 1.6rem;
  }
}

@media (width <=900px) {
  .header-container {
    font-size: 1.35rem;
    padding: 0 1.33em;
  }

  .logo-container {
    font-size: 1.6rem;
    gap: 0.85em;
  }

  .links-container>li>a {
    padding: 2em 1em;
  }
}

@media (width <=670px) {
  .links-container>li>a {
    padding: 2em 0.75em;
  }

  .logo-container img {
    width: 2.5em;
  }
}

@media (width <=650px) {
  .header-container {
    padding: 0;
  }

  .logo-container {
    padding: 0 1.33em;
  }

  .links-container {
    display: none;
  }

  .links-container.active {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
  }

  .links-container.active>li {
    text-align: end;
    width: 100%;
    border-bottom: 1px solid #ababab;
  }

  .links-container.active>li:first-child {
    border-top: 1px solid #ababab;
  }

  .menu-icon-wrapper {
    display: inline-block;
    background-color: var(--light-color-text);
    padding: 1rem;
    margin: 1.1rem 0;
    margin-right: 1.33em;
    border-radius: 5px;
  }
}

@media(width <=320px) {
  .menu-icon-wrapper {
    padding: 0.3em;
  }

  .menu-icon {
    width: 18px;
  }

  .logo-container {
    font-size: 1.2rem;
  }
}

/* end responsive design for header element */
/* end of header element */

/* start of hero section */
.hero-section {
  background-color: var(--dark-background-color);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  border: 2px solid #eee;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.social-media-link {
  padding: 1.2em;
  border-bottom: 2px solid #eee;
}

.social-media-link:hover {
  background-color: orangered;
}

.social-media-link:active {
  background-color: var(--dark-background-color);
}

.social-media a:last-of-type {
  border-bottom: none;
}

.social-media-icon {
  width: 2.6rem;
}

.hero-introduction-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 3.5em;
}

.hero-introduction-text h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

.hero-introduction-text p {
  font-size: 2.2rem;
}

.hero-btn {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2rem;
  padding: 1.5rem 8rem;
  background-color: var(--light-color-text);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: none;
}

.hero-btn:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 35px 10px var(--dark-color-text);
}

.hero-btn a {
  text-decoration: none;
  color: var(--dark-background-color);
  font-weight: 700;
}

.hero-mouse-scroll {
  width: 25px;
  height: 40px;
  border: 2px solid orangered;
  border-radius: 15px;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.mouse-before {
  width: 5px;
  height: 5px;
  background-color: var(--light-color-text);
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  animation: mouse-animation 1.3s infinite;
}

@media (width <=1200px) {
  .social-media-icon {
    width: 2.456rem;
  }

  .social-media-link {
    padding: 1.138em;
    border-bottom: 2px solid #eee;
  }

  .hero-introduction-text h1 {
    font-size: 5.664rem;
  }

  .hero-introduction-text p {
    font-size: 2.0768rem;
  }

  .hero-btn {
    font-size: 1.888rem;
    padding: 1.4rem 7.5rem;
  }
}

@media(width <=900px) {
  .hero-introduction-text {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .hero-introduction-text h1 {
    font-size: 5.376rem;
  }

  .social-media {
    display: none;
  }

  .hero-introduction-text p {
    font-size: 1.9712rem;
  }

  .hero-btn {
    font-size: 1.797rem;
    padding: 1.3rem 7.1rem;
  }
}

@media(width <=600px) {
  .hero-introduction-text {
    flex-wrap: wrap;
    padding: 0;
  }

  .hero-introduction-text h1 {
    font-size: 4.032rem;
  }

  .hero-introduction-text p {
    font-size: 1.792rem;
  }

  .hero-btn {
    font-size: 1.797rem;
    padding: 1.3rem 7.1rem;
  }

  .hero-section {
    height: auto;
    padding: 170.24px 24px 116.48px;
  }

  .hero-mouse-scroll {
    display: none;
  }

}

@media(width <=320px) {
  .hero-btn {
    font-size: 1.797rem;
    padding: 1.3rem 5.1rem;
  }
}


@keyframes mouse-animation {
  from {
    top: 7px;
    opacity: 1;
  }

  to {
    top: 26px;
    opacity: 0;
  }
}

/* end of hero section */

/* start about section */
.about-section {
  height: 100vh;
  width: 100%;
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1248px;
  width: 92%;
  margin: 0 auto;
}

.heading-wrapper {
  text-align: center;
}

.about-section-heading {
  display: inline-block;
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  line-height: 1.5;
}

.about-section-heading::after {
  content: '';
  position: absolute;
  top: calc(100% + 17rem);
  height: 4px;
  width: 3rem;
  background: orangered;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  transition: all 1s;
}

.about-section-heading:hover:after {
  width: 20rem;
}

.about-section-desc {
  font-size: 2rem;
  max-width: 40em;
  text-align: center;
  margin: auto;
}

.about-section-main-content {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 10rem;
}

.get-to-know-me-container {
  flex: 1 1 0px;
}

.get-to-know-me-heading {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.get-to-know-me-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-section-contact-btn {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.5rem 5rem;
  margin-top: 3rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--light-color-text);
  color: var(--dark-background-color);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.about-section-contact-btn:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 35px 10px var(--dark-color-text);
}

.skills-container {
  flex: 1 1 0px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skill-heading {
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.skill {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  background-color: var(--light-color-text);
  color: var(--dark-background-color);
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;

}

.code-about {
  color: var(--light-color-text);
}

.skill:hover .code-about {
  color: orangered;
}

@media (width <=1200px) {
  .about-section {
    padding: 11.328rem 0;
  }

  .about-section-heading {
    font-size: 3.776rem;
    margin-bottom: 3.304rem;
  }

  .about-section-desc {
    font-size: 1.888rem;
  }

  .get-to-know-me-heading,
  .skill-heading {
    font-size: 2.6rem;
    margin-bottom: 2.8rem;
  }

  .get-to-know-me-text {
    font-size: 1.7rem;
    margin-bottom: 0.95rem;
  }

  .about-section-contact-btn {
    font-size: 1.5rem;
    padding: 1.4rem 4.7rem;
    margin-top: 2.75rem;
  }

  .skill {
    font-size: 1.4rem;
    padding: 0.95rem 1.9rem;
  }

  .skills-wrapper {
    gap: 1.4rem;
  }

}


@media (width <=900px) {
  .about-section {
    padding: 7.168rem 0;
  }

  .about-section-heading {
    font-size: 3.58rem;
    margin-bottom: 3.136rem;
  }

  .about-section-desc {
    font-size: 1.792rem;
  }

  .about-section-main-content {
    flex-direction: column;
    gap: 8rem;
  }

  .about-section-heading::after {
    top: calc(100% + 12rem);
  }

  .get-to-know-me-heading,
  .skill-heading {
    font-size: 2.5rem;
    margin-bottom: 2.6rem;
  }

  .get-to-know-me-text {
    font-size: 1.6rem;
    margin-bottom: 0.9rem;
  }

  .about-section-contact-btn {
    font-size: 1.5rem;
    padding: 1.35rem 4.45rem;
    margin-top: 2.6rem;
  }

  .skill {
    font-size: 1.4rem;
    padding: 0.99rem 1.8rem;
  }

  .skills-wrapper {
    gap: 1.35rem;
  }
}

@media (width <=600px) {
  .about-section {
    padding: 7.168rem 0;
    gap: 8rem;
  }

  .about-section-desc {
    font-size: 1.6rem;
  }

  .get-to-know-me-heading,
  .skill-heading {
    font-size: 2.15rem;
    margin-bottom: 2.6rem;
  }


  .about-section-heading::after {
    display: none;
  }
}